h1#show-head 在庫一覧
form.uk-form method='get' action="/cgi-bin/DBE/index.cgi/stocks/new"
  button.uk-button.uk-button-primary#new = '新規登録'
form.uk-form#search action="#"
  input type="text" name="search" value="" id="id-search"
    = ' 🔎検索'
table.uk-table.uk-table-striped#sortable
  thead
    tr
      th pid ▲▼
      th loc ▲▼
      th num ▲▼
      th command
  tbody
    - @res.each do |data|
      tr
        td#data = data['pid'].to_s
        td#data = data['loc'].to_s
        td#data = data['num'].to_s
        td#command
          - id = data['pid'].to_s
          div id="#{id}"
            button.uk-button.uk-button-success.edit.= '編集'
            button.uk-button.uk-button-danger.delete = '削除'
javascript:
  $('.edit').click(function() {
    $.get('/cgi-bin/DBE/index.cgi/stocks/edit')
  });
  $('.delete').click(function() {
    var el = $(this).parent();
    if ( UIkit.modal.confirm("本当に削除しても良いですか?") ) {
      $.post('/cgi-bin/DBE/index.cgi/stocks/delete', { id: el.attr('id') });
    }
  });
  $('input#id-search').quicksearch('table tbody tr');
  $('#sortable').tablesorter({
    headers: {
      3: {sorter:false}
    }
  });

