h1#show-head
  float: left

button.uk-button.uk-button-primary#new
  margin-top: 40px
  margin-left: 30px

form#search
  float: right
  input#id-search
    width: 150px

table.uk-table
  tr
    text-align: center
    th
      text-align: center

  td#data
    padding: 0px
    padding-top: 18px

  td#command
    width: 200px
    button.uk-button
      margin: 5px


