doctype html
html
  head
    meta charset="utf-8"
    title index
    == stylesheet_tag "/cgi-bin/DBE/assets/uikit/css/uikit.min.css"
    == stylesheet_tag "/cgi-bin/DBE/assets/uikit/css/uikit.almost-flat.min.css"
    == stylesheet_tag "/cgi-bin/DBE/assets/uikit/css/components/notify.almost-flat.min.css"
    == stylesheet_tag "/cgi-bin/DBE/assets/jQuery-Validation-Engine-2.6.4/css/validationEngine.jquery.css"
    == stylesheet_tag "/cgi-bin/DBE/assets/app/css/app.css"

    == script_tag "http://code.jquery.com/jquery.js"
    == script_tag "/cgi-bin/DBE/assets/uikit/js/uikit.min.js"
    == script_tag "/cgi-bin/DBE/assets/uikit/js/core/nav.min.js"
    == script_tag "/cgi-bin/DBE/assets/uikit/js/core/modal.min.js"
    == script_tag "/cgi-bin/DBE/assets/uikit/js/components/notify.js"
    == script_tag "/cgi-bin/DBE/assets/jquery.quicksearch/jquery.quicksearch.js"
    == script_tag "/cgi-bin/DBE/assets/tablesorter/jquery.tablesorter.min.js"
    == script_tag "/cgi-bin/DBE/assets/jQuery-Validation-Engine-2.6.4/js/languages/jquery.validationEngine-ja.js"

  body
    .uk-modal

    nav.uk-navbar
      a.uk-navbar-brand href='#'
        | 🚙DataBaseExrc
      .uk-container.uk-container-center
        ul.uk-navbar-nav
          li == link_to '/cgi-bin/DBE/index.cgi/products/show', '商品一覧'
          li == link_to '/cgi-bin/DBE/index.cgi/stocks/show', '在庫一覧'
    .uk-container.uk-container-center
      br
        == yield

