h1#show-head 商品一覧
form.uk-form method='get' action="/cgi-bin/DBE/index.cgi/products/new"
  button.uk-button.uk-button-primary#new = '新規登録'
form.uk-form#search action="#"
  input type="text" name="search" value="" id="id-search"
    = ' 🔎検索'
table.uk-table#sortable
  thead
    tr
      th pid ▲▼
      th name ▲▼
      th cost ▲▼
      th price ▲▼
      th command
  tbody
    - @res.each do |data|
      tr
        td#data = data['pid'].to_s
        td#data = data['name'].to_s
        td#data = data['cost'].to_s
        td#data = data['price'].to_s
        td#command
          - id = data['pid'].to_s
          div id="#{id}"
            button.uk-button.uk-button-success.edit = '編集'
            button.uk-button.uk-button-danger.delete = '削除'
.uk-modal#edit
  .uk-modal-dialog
    a.uk-modal-close.uk-close
    form.uk-form#modal method="post" action="/cgi-bin/DBE/index.cgi/products/update"
      legend 製品情報 更新
      fieldset
        .uk-form-row
          label = "pid"
          input type="text" name="pid" value=""
        .uk-form-row
          label = "name"
          input type="text" name="name"
        .uk-form-row
          label = "cost"
          input type="text" name="cost"
        .uk-form-row
          label = "price"
          input type="text" name="price"
        .uk-form-row
          button#in-modal.uk-button.uk-button-primary
            = '更新'
javascript:
  $('.edit').click(function() {
    UIkit.modal('#edit').show();
  });
  $('.delete').click(function() {
    var el = $(this).parent();
    UIkit.modal.confirm("本当に削除しても良いですか?", function() {
      $.post('/cgi-bin/DBE/index.cgi/products/delete', {
        id: el.attr('id')
      }, function() {
        el.parent().parent().fadeOut(200);
        console.debug('remove line');
      });
    });
  })
  $('input#id-search').quicksearch('table tbody tr');
  $('#sortable').tablesorter({
    headers: {
      4: {sorter:false}
    }
  });

