h1#show-head 商品一覧
form.uk-form action="#"
  button.new = '新規登録'
form.uk-form#search action="#"
  input type="text" name="search" value="" id="id-search"
    = ' 🔎検索'
table.uk-table#sortable
  thead
    tr
      th pid ▲▼
      th name ▲▼
      th cost ▲▼
      th price ▲▼
      th command
  tbody
    - @res.each do |data|
      tr
        - id    = data['pid'].to_s
        - name  = data['name'].to_s
        - cost  = data['cost'].to_s
        - price = data['price'].to_s
        td#data = id
        td#data = name
        td#data = cost
        td#data = price
        td#command
          - id = data['pid'].to_s
          div id="#{id}" name="#{name}" cost="#{cost}" price="#{cost}"
            button.uk-button.uk-button-success.edit = '編集'
            button.uk-button.uk-button-danger.delete = '削除'
.uk-modal#edit
  .uk-modal-dialog
    a.uk-modal-close.uk-close
    form.uk-form#modal method="post" action="/cgi-bin/DBE/index.cgi/products/update"
      legend 製品情報 更新
      fieldset
        .uk-form-row
          .pid#product type="text" name="pid" value=""
        .uk-form-row
          label = "name"
          input.name#product type="text" name="name" value=""
        .uk-form-row
          label = "cost"
          input.cost#product type="text" name="cost" value=""
        .uk-form-row
          label = "price"
          input.price#product type="text" name="price" value=""
        .uk-form-row
          button#in-modal.uk-button.uk-button-primary
            = '更新'
.uk-modal#new
  .uk-modal-dialog
    a.uk-modal-close.uk-close
    form.uk-form#modal method="post" action="/cgi-bin/DBE/index.cgi/products/create"
      legend 製品情報 登録
      fieldset
        .uk-form-row
          label = "pid"
          input type="text" name="pid" value=""
        .uk-form-row
          label = "name"
          input type="text" name="name" value=""
        .uk-form-row
          label = "cost"
          input type="text" name="cost" value=""
        .uk-form-row
          label = "price"
          input type="text" name="price" value=""
        .uk-form-row
          button#in-modal.uk-button.uk-button-primary
            = '更新'
javascript:
  $('.new').click(function() { UIkit.modal('#new').show() });
  $('.edit').click(function() {
    var el = $(this).parent();
    $('.pid#stock').val(el.attr('id'));
    $('input.name#product').val(el.attr('name'));
    $('input.cost#product').val(el.attr('cost'));
    $('input.price#product').val(el.attr('price'));
    UIkit.modal('#edit').show();
  });
  $('.delete').click(function() {
    var el = $(this).parent();
    UIkit.modal.confirm("本当に削除しても良いですか?", function() {
      $.post('/cgi-bin/DBE/index.cgi/products/delete', {
        id: el.attr('id')
      }, function() {
        el.parent().parent().fadeOut(200);
        console.debug('remove line');
      });
    });
  })
  $('input#id-search').quicksearch('table tbody tr');
  $('#sortable').tablesorter({
    headers: {
      4: {sorter:false}
    }
  });

